/*FONT FACES*/
	@font-face{
		font-family: 'dos';
		src: url('../fonts/dos.ttf');
	}
	@font-face{
		font-family: 'futura';
		src: url('../fonts/futura.ttf');
	}
	@font-face{
		font-family: 'gotham-black';
		src: url('../fonts/gotham-black.otf');
	}
	@font-face{
		font-family: 'junegull';
		src: url('../fonts/junegull.ttf');
	}
/*ALL*/
	html{
		overflow-x: hidden;
	}
	*{
		margin: 0;
		padding: 0;
		scroll-behavior: smooth;
	}
	.rivetbackground{
		background-image: url('../media/images/rivet-background.jpg');
		background-size: contain;
	}
	.skybackground{
		background-image: linear-gradient(to bottom, #000 20%, #143e76, #80b6e2, #81c0f3);
		background-size: contain;
	}
/*DISPLAY NONE*/
	.header-fixed,
	.star-background{
		display: none;
	}
/*HEADER*/
	header{
		margin: 0 auto;
		max-width: 1500px;
		position: relative;
		text-align: center;
	}
	.header-links{
		position: relative;
	}
	.header-links-boxes{
		align-items: center;
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		width: 95%;
	}
	.header-links-logo{
		color: #0B4469;
		font-family: 'gotham-black', sans-serif;
		font-size: 40px;
	}
	.header-links-boxes a{
		color: #fce7b8;
		font-family: 'Open sans', sans-serif;
		font-size: 28px;
		text-decoration: none;
	}
	.header-boxes{
		background-color: #0B4469;
		width: 180px;
	}
	/*HEADER JQUERY*/
	.header-fixed{
		background-color: #d66325;
		box-shadow: 0 10px 10px #000;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 100;
	}
	.header-fixed .header-links-logo a{
		font-size: 28px;
	}
	.header-fixed .header-links-logo h1{
	color: #0B4469;
    font-family: 'gotham-black', sans-serif;
    font-size: 40px;
   	}
	.header-fixed .header-boxes{
		font-size: 18px;
	}
/*NEXT SHOW TICKETS / EVENT POSTER*/
	.next-show-tickets{
		position: absolute;
		left: 25px;
		top: 100px;
		width: 450px;
	}
	.next-show-tickets a{
		color: #d66325;
		-webkit-text-stroke-width: 2px;
   		-webkit-text-stroke-color: #fff;
		font-family: 'junegull', sans-serif;
		font-size: 36px;
		text-decoration: none;
		text-shadow: 0px 10px 5px #000;
	}
	.next-show-tickets span{
		color: #d66325;
		-webkit-text-stroke-width: 2px;
   		-webkit-text-stroke-color: #fff;
		border-bottom: 12px solid #d66325;
		padding: 0 15px;
	}
	.next-show-poster{
		max-width: 100%;
		overflow-x: hidden;
		position: absolute;
		top: 0;
		z-index: -1;
	}
	.next-show-poster-container{
		display: flex;
		justify-content: center;
	}
	.poster img{
		max-width: 211px;
		min-width: 211px;
		width: 100%;
	}

/*TEASER VIDEO*/
	.teaservideo{
		margin: 70px auto 50px auto;
		max-width: 1000px;
		padding-right: 30px;
	}
	.vidwrapper{
		border: 15px solid #0B4469;
		width: 100%;
		position: relative;
	}
	.jarallax{
		height: 500px
	}
	.click-for-full-video{
		bottom: 5px;
		color: #fff;
		font-family: 'gotham-black', sans-serif;
		font-size: 16px;
		left: 5px;
		position: absolute;
	}
	.star-background{
		left: 0;
		overflow-x: hidden;
		position: absolute;
		margin: auto;
		top: 421px;
		right: 0;
		z-index: -10;
	}
	/*TEASER FIXED*/
	.teaser-fixed{
		margin-top: 160px;
	}
/*SOCIAL MEDIA BANNER*/
	.social-media{
		background-color: #104568;
		box-shadow: 0 10px 10px #000;
		margin: 0 auto;
		max-width: 1500px;
		position: relative;
	}
	.social-media-container{
		align-items: center;
		display: flex;
		justify-content: space-around;
		margin: 0 auto;
		max-width: 1200px;
	}
	.social-media-container img{
		max-width: 130px;
		padding: 8px 0;
		width: 100%;
	}
	.youtube img{
		max-width: 100px;
	}
	.icon{
		align-items: center;
		display: flex;
		max-width: 25%;
	}
	.icon i{
		color: #d66325;
		font-size: 40px;
		padding-right: 10px;
	}
/*BIO*/
	.bio{
		overflow: hidden;
		padding-top: 150px;
		position: relative;
	}
	.biocontainer{
		margin: 0 auto;
		padding: 0 20px;
		position: relative;
		text-align: center;
	}
	.bio-band-photo{
		background-image: url('../media/images/rivet-background.jpg');
		background-size: cover;
		border: 15px solid #0B4469;
		box-shadow: 0px 20px 10px 8px #000;
		margin-top: 20px;
		position: relative;
	}
	.bio-band-photo img{
		display: block;
		max-width: 100%;
	}
	.bio-text-copy{
		padding: 50px 0 0 0;
	}
	.bio-band-photo,
	.bio-text-copy,
	.member-bios{
		margin: 0 auto;
		max-width: 1000px;
	}
	/*ROCKET 1*/
	.spocket-rocket{
		position: absolute;
		left: 200px;
		top: 400px;
		z-index: -1;
	}
	.spocket-rocket img{
		max-width: 500px;
		transform: rotate(45deg);
	}
/*MAIN BIO ANIMATION*/
	.biotextimg{
		margin: 0 auto;
		max-width: 200px;
		opacity: 0;
		transition: .5s;
	}
	.biotextimg img{
		width: 100%;
	}
	.bio-band-name{
		color: #d66325;
		font-family: 'gotham-black';
		text-transform: uppercase;
	}
	.biotextbioa,
	.biotextbiob,
	.biotextbioc,
	.biotextbiod,
	.biotextbioe,
	.biotextbiof,
	.biotextbiog,
	.biotextbioh,
	.biotextbioi,
	.biotextbioj,
	.biotextbiok,
	.biotextbiol,
	.biotextbiom,
	.biotextbion,
	.biotextbioo,
	.biotextbiop,
	.biotextbioq,
	.biotextbior,
	.biotextbios,
	.biotextbiot,
	.biotextbiou{
		color: #fff;
		font-family: 'Oswald', sans-serif;
		font-size: 30px;
		text-shadow: 1px 1px #000;
		opacity: 0;
		transition: .5s;
	}
	.biofader{
		opacity: 1;
		transition: .5s;
	}
/*INDIVIDUAL MEMBERS*/
	.members-row-one,
	.members-row-two{
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		width: 94%;
	}
	.single-member-bio{
		background-color: #D3D3D3;
		border: 7px solid #0D0D0D;
		border-radius: 22px;
		margin-bottom: 10px;
		text-align: center;
		width: 450px;
	}
	.single-member-container{
		border: 3px solid #0D0D0D;
		border-radius: 15px;
		margin: 2px;
		padding: 10px;
	}
	.member-bio-name{
		height: 50px;
	}
	.member-bios .member-bio-name{
		font-size: 30px;
		padding-top: 10px;
	}
	.member-bios .member-bio-copy{
		font-size: 18px;
	}
	.member-bios p{
		color: #0D0D0D;
		font-family: 'futura', sans-serif;
		padding: 0;
		text-shadow: none;
	}
	.globes{
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		width: 50%;
	}
	.globes img{
		max-height: 100px;
		max-width: 100px;
	}
	.bio-social-media{
		margin-top: -10px;
	}
	.bio-social-media i{
		color: #0D0D0D;
		font-size: 26px;
		padding: 0 2.5px;
	}
	/*KONSTANTINE*/
	.konstantine-bio-container{
		height: calc(100% - 30px);
	}
	/*PONDSTAR*/
	.pondstar-bio-container{
		height: calc(100% - 30px);
	}
/*TOUR*/
	.tour{
		padding: 500px 0;
		position: relative;
	}
	.tour-container{
		align-items: center;
		display: flex;
		justify-content: center;
		margin: 0 auto;
		max-width: 1000px;
		text-align: center;
	}
	.tour-container p{
		color: #fff;
		font-family: 'dos', serif;
		font-size: 72px;
		text-shadow: 0 5px 5px #000;
	}
	#dot-one{
		box-shadow: 0 5px 5px #000;
		width: 10px;
		height: 48px;
		background-color: white;
		margin: 0 0 8px 10px;
		-webkit-animation-name: example; /* Safari 4.0 - 8.0 */
		-webkit-animation-duration: .5s; /* Safari 4.0 - 8.0 */
		animation-name: example;
		animation-duration: .5s;
		animation-iteration-count: infinite;
	}
	@keyframes example {
	  100% {background-color: black;}
	}
	.clouds{
		margin: 0 auto;
		position: relative;
		top: 0;
		width: 100%;	
	}
	#cloud-one{
		left: 20%;
		position: absolute;
		top: 0;
		z-index: -1;
	}
	#cloud-two{
		position: absolute;
		top: 0;
		z-index: 9;
	}
	#cloud-three{
		position: absolute;
		right: 0;
		top: 0;
		z-index: 9;
	}
/*FOOTER*/
	.grass{
		margin: 300px auto 0 auto;
		max-width: 1500px;
		position: relative;
		width: 100%;
	}
	.grass img{
		display: block;
		max-width: 100%;
	}
	.footer-cat{
		bottom: 80px;
		position: absolute;
		right: 20px;
		z-index: -1;
	}
	.footer-cat img{
		max-width: 200px;
	}
	.footer{
		background-color: #447e0b;
		margin: 0 auto;
		max-width: 1500px;
		width: 100%;
	}
	.footer-container{
		align-items: center;
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		max-width: 1200px;
		padding: 20px;
	}
	/*FOOTER LEFT*/
	.footer-left{
		color: #fff;
		font-family: 'gotham-black', sans-serif;
	}
	.footer-left h4{
		font-size: 36px;
	}
	/*FOOTER RIGHT*/
	.footer-right{
		color: #fff;
		font-family: 'Oswald', sans-serif;
		text-align: right;
	}
	.footer-right a{
		color: #fff;
		text-decoration: none;
	}
	.footer-right i{
		font-size: 18px;
	}
/*ANCHOR TAGS*/
	#bio{
		position: absolute;
		top: -70px;
	}
	#media{
		position: absolute;
		top: -115px;
	}
	


/*****MEDIA QUERIES*****/
@media(max-width:1190px){
	.header-boxes{
		width: 150px;
	}
	.header-links-boxes a{
		font-size: 24px;
	}
}
@media(max-width:1130px){
	.header-boxes{
		width: 130px;
	}
	.header-links-boxes a{
		font-size: 24px;
	}
}
@media(max-width:1050px){
	.footer-cat{
		bottom: 60px;
	}
}
@media(max-width:1035px){
	.header-boxes{
		width: 110px;
	}
	.header-links-boxes a{
		font-size: 20px;
	}
	.header-links-logo{
		font-size: 36px;
	}
}
@media(max-width:980px){
	.member-bios .member-bio-name{
		font-size: 24px;
	}
}
@media(max-width:930px){
	.header-links-logo{
		font-size: 28px;
	}
	.tour-container p{
		font-size: 64px;
	}
	#dot-one{
		height: 41px;
	}
	.clouds img{
		max-width: 80%;
	}
}
/*EVERYTHING FLIPS*/
@media(max-width:830px){
	/*HEADER*/
	.header-links-boxes{
		padding-top: 100px;
		position: relative;
	}
	.header-links-boxes a{
		font-size: 24px;
	}
	.header-fixed .header-boxes,
	.header-links .header-boxes{
		width: 150px;
	}
	.header-fixed .header-boxes{
		margin-bottom: 5px;
	}
	.header-links-logo{
		font-size: 44px;
		padding-bottom: 150px;
		position: absolute;
		width: 100%;
		z-index: -1;
	}
	.header-fixed .header-links-logo{
		font-size: 44px;
		padding-bottom: 130px;
		position: absolute;
		width: 100%;
		z-index: -1;
	}
	.header-fixed .header-links-logo h1{
		font-size: 90px;
	}
	/*SOCIAL MEDIA*/
	.social-media img{
		display: none;
	}
	.social-media i{
		font-size: 60px;
		padding: 20px 0;
	}
	/*MEMBER BIOS*/
	.member-bios-container{
		padding-top: 40px;
	}
	.members-row-one,
	.members-row-two{
		align-items: center;
		flex-direction: column;
	}
	/*TOUR*/
	.tour-container p{
		font-size: 50px;
	}
	#dot-one{
		height: 31px;
		width: 6px;
	}
	/*FOOTER*/
	.footer-cat{
		bottom: 40px;
	}
}
@media(max-width:800px){
	.clouds img{
		max-width: 60%;
	}
}
@media(max-width:750px){
	.spocket-rocket{
		left: 100px;
	}
}
@media(max-width:690px){
	.header-boxes{
		width: 130px;
	}
	.header-links-boxes a{
		font-size: 20px;
	}
}
@media(max-width: 650px){
	.spocket-rocket{
		left: 0;
	}
	.tour-container{
		position: relative;
	}
	.tour-container p{
		font-size: 70px;
	}
	#dot-one{
		display: none;
	}
}
@media(max-width:630px){
	.header-fixed .header-boxes,
	.header-links .header-boxes{
		width: 110px;
	}
	.header-links-boxes a{
		font-size: 18px;
	}
	.member-bios-container{
		padding-top: 60px;
	}
	.footer-cat{
		bottom: 20px;
	}
}
@media(max-width:600px){
	.footer-container{
		flex-direction: column;
	}
	.footer-left h4{
		font-size: 50px;
	}
	.footer-right-container{
		text-align: center;
	}
	.footer-social-media i{
		font-size: 30px;
		padding: 5px;
	}
}

/*IPHONE (8, XR) PORTRAIT*/
@media only screen and (min-device-width : 375px) and (max-device-width : 736px) and (orientation: portrait),only screen and (device-width : 414px) and (device-height : 896px) and (-webkit-device-pixel-ratio : 2){
	.rivetbackground{
		background-size: auto;
	}
	.star-background{
		top: 1000px;
	}
	.star-background img{
		height: 1500px;
	}
	/*CAT ANIMATION*/
	.header-animation{
		display: block;
	}
	.header-animation svg{
		height: 680px;
		width: 800px;
	}
	#main-circle,
	#black-circle{
		cx: 400;
		cy: 350;
		r: 300;
	}
	#blue-pulse{
		cx: 400;
		cy: 350;
		r: 325 !important;
	}
	#spocket-moving-logo image{
		height: 150px;
		width: 150px;
	}
	/*HEADER*/
	.header-links,
	.header-fixed{
		margin-top: 200px;
	}
	.header-fixed{
		box-shadow: 0px 20px 10px 0px #000;
	}
	.header-links-logo{
		font-size: 90px;
		left: 0;
		margin-top: -200px;
		padding-top: 5px;
		position: absolute;
		top: 0;
		width: 100%;
	}
	.header-fixed .header-links-logo{
		background-color: #d66325;
		left: 0;
		margin-top: -200px;
		padding-top: 5px;
		position: absolute;
		top: 0;
		width: 100%;
	}
	.header-fixed .header-links-logo h1{
		font-size: 180px;
	}
	.header-links-container a,
	.header-fixed .header-boxes{
		font-size: 50px;
	}
	.header-fixed .header-boxes{
		margin: 5px 0 15px 0;
	}
	.header-links-boxes-container
	.header-fixed .header-links-boxes-container{
		padding: 10px 0;
	}
	.header-boxes{
		box-shadow: 0px 10px 10px 5px #000;
		height: 60px;
		padding: 10px 10px 15px 10px;
		width: 180px;
	}
	/*NEXT SHOW*/
	.next-show-tickets{
		height: 80%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
	.next-show-tickets-container{
		align-items: center;
		display: flex;
		height: 100%;
		justify-content: center;
		margin: 0 auto;
		width: 700px;
	}
	.next-show-tickets-container a{
		font-size: 60px;
	}
	.poster img {
	    max-width: 450px;
	    min-width: 450px;
	    width: 100%;
	}
	/*VIDEO*/
	.teaser-fixed{
		margin-top: 350px;
	}
	.jarallax{
		height: 700px;
	}
	.click-for-full-video{
		bottom: 10px;
		left: 10px;
	}
	.click-for-full-video p{
		font-size: 48px;
	}
	/*SOCIAL MEDIA*/
	.social-media img{
		display: none;
	}
	.social-media i{
		font-size: 120px;
		padding: 20px 0;
	}
	/*BIO*/
	.bio{
		padding-top: 300px;
	}
	.biotextimg{
		max-width: 500px;
	}
	.bio-text-copy{
		text-align: center;
	}
	.bio-text-copy span{
		font-size: 60px;
	}
	.spocket-rocket{
		left: -200px;
		top: 700px;
	}
	.spocket-rocket img{
		max-width: 1000px;
	}
	.member-bios{
		padding-top: 100px;
	}
	.members-row-one, .members-row-two{
		align-items: center;
		flex-direction: column;
		width: 100%;
	}
	.globes{
		width: 75%;
	}
	.globes img{
		max-height: 300px;
		max-width: 300px;
	}
	.bio-social-media{
		margin: 40px 0;
	}
	.bio-social-media i{
		font-size: 80px;
	}
	.member-bios .member-bio-name{
		font-size: 70px;
	}
	.member-bios .member-bio-copy{
		font-size: 60px;
		padding: 0 10px 10px 10px;
	}
	.single-member-bio{
		width: 90%;
	}
	#social-media-ken{
		margin-top: 120px;
	}
	/*TOUR*/
	.tour-container p{
		font-size: 120px;
	}
	#dot-one{
		bottom: 520px;
		height: 78px;
		position: absolute;
		right: 100px;
		width: 15px;
	}
	#cloud-one{
		left: 20%;
		position: absolute;
		top: 100px;
		z-index: -1;
	}
	#cloud-two{
		position: absolute;
		top: 200px;
		z-index: 9;
	}
	#cloud-three{
		position: absolute;
		right: 0;
		top: -100px;
		z-index: 9;
	}
	/*FOOTER*/
	.footer{
		overflow: hidden;
	}
	.grass{
		padding-top: 800px;
	}
	.footer-cat img{
		max-width: 400px;
	}
	.footer-container{
		flex-direction: column;
	}
	.footer-left h4{
		font-size: 100px;
	}
	.footer-links{
		display: flex;
		justify-content: space-between;
	}
	.footer-links a,
	.footer-ada{
		font-size: 45px;
	}
	.footer-right{
		width: 90%;
	}
	.footer-social-media,
	.footer-ada{
		text-align: center;
	}
	.footer-social-media{
		padding: 10px 0;
	}
	.footer-right i{
		font-size: 60px;
		padding: 0 5px;
	}
	.footer-cat{
		bottom: 20px;
	}
	/*ANCHOR TAGS*/
	#bio,
	#media{
		margin-top: -250px;
	}
	#tourdates{
		margin-top: -300px;
		position: absolute;
		top: 0;
	}
}
/*IPHONE 8, XR) LANDSCAPE*/
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation: landscape){
	.header-fixed .header-links-logo h1{
		font-size: 72px;
	}
	.header-boxes,
	.header-fixed .header-boxes{
		font-size: 26px;
	}
	/*NEXT SHOW*/
	.next-show-tickets{
		height: 80%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
	.next-show-tickets-container{
		align-items: center;
		display: flex;
		height: 100%;
		justify-content: center;
		margin: 0 auto;
		width: 400px;
	}
	.poster img {
	    max-width: 230px;
	    min-width: 230px;
	    width: 100%;
	}
	.jarallax{
		height: 400px;
	}
	/*BIO*/
	.bio{
		padding-top: 100px;
	}
	.biotextimg{
		max-width: 300px;
	}
	.globes{
		width: 75%;
	}
	.globes img{
		max-height: 150px;
		max-width: 150px;
	}
	.member-bios .member-bio-name{
		font-size: 30px;
	}
	.bio-social-media{
		padding: 10px 0
	}
	.bio-social-media i{
		font-size: 40px;
	}
	.member-bios .member-bio-copy{
		font-size: 28px;
	}
	.single-member-bio{
		margin-bottom: 0;
	}
}
/*IPAD PORTRAIT*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait){
	.rivetbackground{
		background-size: auto;
	}
	.star-background{
		top: 1000px;
	}
	.star-background img{
		height: 1500px;
	}
	/*CAT ANIMATION*/
	.header-animation{
		display: block;
	}
	.header-animation svg{
		height: 680px;
		width: 800px;
	}
	#main-circle,
	#black-circle{
		cx: 400;
		cy: 350;
		r: 300;
	}
	#blue-pulse{
		cx: 400;
		cy: 350;
		r: 325 !important;
	}
	#spocket-moving-logo image{
		height: 150px;
		width: 150px;
	}
	/*HEADER*/
	.header-links,
	.header-fixed{
		margin-top: 200px;
	}
	.header-fixed{
		box-shadow: 0px 20px 10px 0px #000;
	}
	.header-links-logo{
		font-size: 90px;
		left: 0;
		margin-top: -200px;
		padding-top: 5px;
		position: absolute;
		top: 0;
		width: 100%;
	}
	.header-fixed .header-links-logo{
		background-color: #d66325;
		left: 0;
		margin-top: -200px;
		padding-top: 5px;
		position: absolute;
		top: 0;
		width: 100%;
	}
	.header-fixed .header-links-logo h1{
		font-size: 130px;
	}
	.header-links-container a,
	.header-fixed .header-boxes{
		font-size: 40px;
	}
	.header-fixed .header-boxes{
		margin: 5px 0 15px 0;
	}
	.header-links-boxes-container
	.header-fixed .header-links-boxes-container{
		padding: 10px 0;
	}
	.header-fixed .header-links-container,
	.header-fixed .header-links-boxes-container{
		background-color: #d66325;
		margin-top: -55px;
	}
	.header-boxes{
		box-shadow: 0px 10px 10px 5px #000;
		height: 60px;
		padding: 10px 10px 5px 10px;
		width: 180px;
	}
	/*NEXT SHOW*/
	.next-show-tickets{
		height: 80%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
	.next-show-tickets-container{
		align-items: center;
		display: flex;
		height: 100%;
		justify-content: center;
		margin: 0 auto;
		width: 700px;
	}
	.next-show-tickets-container a{
		font-size: 60px;
	}
	.poster img {
	    max-width: 450px;
	    min-width: 450px;
	    width: 100%;
	}
	/*VIDEO*/
	.teaser-fixed{
		margin-top: 350px;
	}
	.jarallax{
		height: 700px;
	}
	.click-for-full-video{
		bottom: 10px;
		left: 10px;
	}
	.click-for-full-video p{
		font-size: 48px;
	}
	/*SOCIAL MEDIA*/
	.social-media img{
		display: none;
	}
	.social-media i{
		font-size: 120px;
		padding: 20px 0;
	}
	/*BIO*/
	.bio{
		padding-top: 300px;
	}
	.biotextimg{
		max-width: 500px;
	}
	.bio-text-copy{
		text-align: center;
	}
	.bio-text-copy span{
		font-size: 60px;
	}
	.spocket-rocket{
		left: -200px;
		top: 700px;
	}
	.spocket-rocket img{
		max-width: 1000px;
	}
	.member-bios{
		padding-top: 100px;
	}
	.members-row-one, .members-row-two{
		align-items: center;
		flex-direction: column;
		width: 100%;
	}
	.globes{
		width: 75%;
	}
	.globes img{
		max-height: 300px;
		max-width: 300px;
	}
	.bio-social-media{
		margin: 40px 0;
	}
	.bio-social-media i{
		font-size: 80px;
	}
	.member-bios .member-bio-name{
		font-size: 70px;
	}
	.member-bios .member-bio-copy{
		font-size: 60px;
		padding: 0 10px 10px 10px;
	}
	.single-member-bio{
		width: 90%;
	}
	#social-media-ken{
		margin-top: 120px;
	}
	/*TOUR*/
	.tour-container p{
		font-size: 120px;
	}
	#dot-one{
		bottom: 520px;
		height: 78px;
		position: absolute;
		right: 100px;
		width: 15px;
	}
	#cloud-one{
		left: 20%;
		position: absolute;
		top: 100px;
		z-index: -1;
	}
	#cloud-two{
		position: absolute;
		top: 200px;
		z-index: 9;
	}
	#cloud-three{
		position: absolute;
		right: 0;
		top: -100px;
		z-index: 9;
	}
	/*FOOTER*/
	.footer{
		overflow: hidden;
	}
	.grass{
		padding-top: 800px;
	}
	.footer-cat img{
		max-width: 400px;
	}
	.footer-container{
		flex-direction: column;
	}
	.footer-left h4{
		font-size: 100px;
	}
	.footer-links{
		display: flex;
		justify-content: space-between;
	}
	.footer-links a,
	.footer-ada{
		font-size: 45px;
	}
	.footer-right{
		width: 90%;
	}
	.footer-social-media,
	.footer-ada{
		text-align: center;
	}
	.footer-social-media{
		padding: 10px 0;
	}
	.footer-right i{
		font-size: 60px;
		padding: 0 5px;
	}
	.footer-cat{
		bottom: 20px;
	}
	/*ANCHOR TAGS*/
	#bio,
	#media{
		margin-top: -250px;
	}
	#tourdates{
		margin-top: -300px;
		position: absolute;
		top: 0;
	}
}
/*IPAD LANDSCAPE*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape){
	.header-fixed .header-links-logo h1{
		font-size: 72px;
	}
	.header-boxes,
	.header-fixed .header-boxes{
		font-size: 26px;
	}
	/*NEXT SHOW*/
	.next-show-tickets{
		height: 80%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
	.next-show-tickets-container{
		align-items: center;
		display: flex;
		height: 100%;
		justify-content: center;
		margin: 0 auto;
		width: 400px;
	}
	.poster img {
	    max-width: 230px;
	    min-width: 230px;
	    width: 100%;
	}
	.jarallax{
		height: 400px;
	}
	/*BIO*/
	.bio{
		padding-top: 100px;
	}
	.biotextimg{
		max-width: 300px;
	}
	.globes{
		width: 75%;
	}
	.globes img{
		max-height: 150px;
		max-width: 150px;
	}
	.member-bios .member-bio-name{
		font-size: 30px;
	}
	.bio-social-media{
		padding: 10px 0
	}
	.bio-social-media i{
		font-size: 40px;
	}
	.member-bios .member-bio-copy{
		font-size: 28px;
	}
	.single-member-bio{
		margin-bottom: 0;
	}
}